* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
}

nav > h2, nav > h3{
    margin: 0;
}
nav > img{
    margin-right: 7px;
}
nav > h2{
    font-size: 22px;
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
}
nav > h3{
    color: #DEEBF8; 
}

.main{
    padding: 57px 27px;
    color: white;
    background-image: url("https://lh3.googleusercontent.com/UKX7QFsF7f5UaWus2pRUfTb-lXso2ad7vrPCk8a6rJOKw7pjhw_4JBvYsCmwkmTLnA2MMxdUIaTbBmeTzBw28e9DsGmlra7f-xFTvMIGriz3NzWfl4twkBPr8WCdwRr18GmFhw18ksViM9LoT6eGyLPwpZdelGbp_qBsbhtV3ciBAnQRtF3nhhhaJTWaqlhBEI1md45sNoAiH-LIYiCL11Wg0klTduIFzrkop4-UmIKhv8Om9tWbOdQanEfhpCTdP2_7IP6bu_TxF6zLfAgjMGOc06qWD1A2oMBVFBAlz9IlV1Xueh7Qh3PrT1EwTFKUlb22_vzugGsFONz0lsTRBw_0iUDe5bc1mj6vM0u4-9qpYAjHg4g1frKwvbj3-EeRueDRVZn3zj9GLcZFqpQL-D7rXGFCtnbm58E7AEXuJ_vW8jIyUlot6bS2_FoCm_lKnMT1dHJQ9yWSrKCFFOeUhbwsvL5LHH7WvoSo02ZTPb7_3sK7FR24bT2R_claMSLrQ-iec7wJFa7L08NLp79KQWFarL9thhSZZOlohOQ_WxtCm8roW0tdB9ZcSqHBhSMD98mBjYUTl7i_8iJUrBdVUAbUiniaswJootez4n9r2EHTZzWD_TJ7If9kiKi75GbyTfaBV2oBCfE9U79GR1uwbWikebu4ZQRks446Gjv8dktekg_1f-TdTb3KD8ZZA9UCU7dT_Msb2OW_aYWf_uevUM7AuIczN1hhsBC9lNh8clFbCVpD02KPVx7WXOVo=w543-h460-no?authuser=0");
    background-repeat: no-repeat;
    background-position-x: 1095px;
    background-position-y: 20px;
}
.main > h1{
    margin: 0;
    font-size: 40px;
    letter-spacing: -0.05em;
}

.main > ul{
    margin-top: 46px;
} 

ul > li{
    line-height: 19px;
    padding-block: 10px;
    max-width: 400px;
}

ul > li::marker{
    font-size: 1.4rem;
    color: #61DAFB;
}
